/* Our team section CSS */

.swiper-pagination {
    position: relative;
    margin-top: 20px;
}

.swiper-container {
    padding-bottom: 40px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #2c0f9f; 
    width: 50px; 
    height: 50px; 
    z-index: 1000;
    cursor: pointer;
    margin-top:4%;
}

.swiper-button-next {
    right: 15%; 
}

.swiper-button-prev {
    left: 15%;
}